
[Desktop Entry]
Type=Application
Name=Teamspeak3 Client
Exec=/usr/bin/teamspeak3-client
Terminal=false
Icon=/usr/share/pixmaps/teamspeak3-client.svg
Categories=Network
Comment=Teamspeak3 Client
