Package: teamspeak3-client
Version: 1.0
Architecture: all
Maintainer: Sandro Pischinger (PSandro) <sandro@psandro.eu>
Installed-Size:
Depends: jq, curl
Section: non-free/net
Priority: optional
Homepage: https://github.com/PSandro/ts3client-installer
Description: VoIP chat for online gaming
